.pageHeader {
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 10;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-height: 48px;
  padding: 16px 32px;
}

.headerRight,
.headerLeft {
  display: flex;
  flex-direction: row;
}
